nav {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.navbar-brand{
    font-size: 24px;
    font-weight: bold;
}

.costum-rounded{
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #666;
}

.card{
    border-radius: 20px !important;
}

.card-header{
    border-radius: 20px 20px 0px 0px !important;
}

body{
    background-color: #fcfcfc;
}

.section{
    background-color: red;
}

.header-title{
    font-size: 32px !important;
    font-weight: bold;
}

.section-table {
    padding: 25px 15px 15px 15px; /* Padding atas 25px, kiri dan kanan 15px, bawah 15px */
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.oke{
    padding: 12px;
}


.animate-text {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.btn-custom{
    border-radius: 15px;
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    width: 125px;
}

.btn-customm{
    border-radius: 15px;
    background-color: #e0e0e0;
    color: #000000;
    border-color: #e0e0e0;
    width: 160px;
}